In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_games = pd.read_csv("C:/Users/prajakta/Documents/Video_Games_Sales.csv")

In [3]:
# shows first 10 rows of the data
df_games.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#df_games = df_games.drop(columns=['Unnamed: 0'])

In [4]:
# shows total rows and columns
df_games.shape

(16719, 16)

In [5]:
# concise summary of the dataframe (giving non-null count also)
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [6]:
# basic statistical details
df_games.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [7]:
# shows count of each platform
df_games.Platform.value_counts()

PS2     2161
DS      2152
PS3     1331
Wii     1320
X360    1262
PSP     1209
PS      1197
PC       974
XB       824
GBA      822
GC       556
3DS      520
PSV      432
PS4      393
N64      319
XOne     247
SNES     239
SAT      173
WiiU     147
2600     133
NES       98
GB        98
DC        52
GEN       29
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

In [8]:
# shows count each genre 
df_games.Genre.value_counts()

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

In [9]:
# shows count of each publisher
df_games.Publisher.value_counts()

Electronic Arts                 1356
Activision                       985
Namco Bandai Games               939
Ubisoft                          933
Konami Digital Entertainment     834
                                ...
HAL Laboratory                     1
Imadio                             1
Hearty Robin                       1
Type-Moon                          1
Crytek                             1
Name: Publisher, Length: 581, dtype: int64

In [10]:
# shows count of each developer
df_games.Developer.value_counts()

Ubisoft                                  204
EA Sports                                172
EA Canada                                167
Konami                                   162
Capcom                                   139
                                        ...
Flagship, HAL Labs                         1
Atari, Slightly Mad Studios, Atari SA      1
GCP1                                       1
Celeris                                    1
Crea-Tech                                  1
Name: Developer, Length: 1696, dtype: int64

In [ ]:
# copy of the original dataframe to start the cleaning phase
#df_clean = df_games.copy()

In [11]:
# Replaced tbd values with None
#shows count of user score
df_games.User_Score.replace('tbd', None, inplace = True)
df_games.User_Score.value_counts()

7.8    388
8.2    337
8      333
7.5    293
8.3    292
      ...
9.7      2
9.6      2
0.3      2
2.3      2
0        1
Name: User_Score, Length: 95, dtype: int64

In [12]:
# change the type
df_games['User_Score'] = df_games['User_Score'].astype(float)
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       8760 non-null   float64
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(10), object(6)
memory usage: 2.0+ MB

In [13]:
# missing values
df_games.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         7959
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [14]:
df_games.columns = map(str.lower,  df_games.columns)
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16717 non-null  object
 1   platform         16719 non-null  object
 2   year_of_release  16450 non-null  float64
 3   genre            16717 non-null  object
 4   publisher        16665 non-null  object
 5   na_sales         16719 non-null  float64
 6   eu_sales         16719 non-null  float64
 7   jp_sales         16719 non-null  float64
 8   other_sales      16719 non-null  float64
 9   global_sales     16719 non-null  float64
 10  critic_score     8137 non-null   float64
 11  critic_count     8137 non-null   float64
 12  user_score       8760 non-null   float64
 13  user_count       7590 non-null   float64
 14  developer        10096 non-null  object
 15  rating           9950 non-null   object
dtypes: float64(10), object(6)
memory usage: 2.0+ MB

In [15]:
df_games.groupby(df_games['rating']).count()

,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer
rating,,,,,,,,,,,,,,,
AO,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
E,3991,3991,3922,3991,3989,3991,3991,3991,3991,3991,2808,2808,3142,2375,3991
E10+,1420,1420,1393,1420,1418,1420,1420,1420,1420,1420,1118,1118,1228,1043,1420
EC,8,8,8,8,8,8,8,8,8,8,0,0,2,1,8
K-A,3,3,3,3,3,3,3,3,3,3,1,1,3,3,3
M,1563,1563,1536,1563,1562,1563,1563,1563,1563,1563,1483,1483,1533,1518,1563
RP,3,3,1,3,3,3,3,3,3,3,3,3,2,2,3
T,2961,2961,2905,2961,2959,2961,2961,2961,2961,2961,2640,2640,2736,2561,2961

In [16]:
# few of this ratings have few games. So need to drop them
df_games[df_games['rating'].isin(['AO','EC','K-A','RP'])]

,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
656,Theme Hospital,PC,1997.0,Strategy,Electronic Arts,2.30,0.10,0.00,0.00,2.40,NaN,NaN,9.0,90.0,Bullfrog Productions,K-A
875,Grand Theft Auto: San Andreas,XB,2005.0,Action,Take-Two Interactive,1.26,0.61,0.00,0.09,1.95,93.0,58.0,8.6,118.0,Rockstar North,AO
903,PaRappa The Rapper,PS,1996.0,Misc,Sony Computer Entertainment,0.26,0.16,1.46,0.03,1.92,92.0,15.0,7.4,48.0,NanaOn-Sha,K-A
4297,Nickelodeon Team Umizoomi,DS,2011.0,Action,Take-Two Interactive,0.42,0.00,0.00,0.03,0.45,NaN,NaN,NaN,NaN,Black Lantern Studios,EC
5034,Sesame Street: Elmo's A-to-Zoo Adventure,Wii,2010.0,Misc,Warner Bros. Interactive Entertainment,0.35,0.00,0.00,0.02,0.38,NaN,NaN,NaN,NaN,Black Lantern Studios,EC
6047,Sesame Street: Cookie's Counting Carnival,Wii,2010.0,Misc,Warner Bros. Interactive Entertainment,0.27,0.00,0.00,0.02,0.29,NaN,NaN,NaN,NaN,Black Lantern Studios,EC
6765,Dora the Explorer: Journey to the Purple Planet,PS2,2005.0,Adventure,Global Star,0.12,0.09,0.00,0.03,0.24,NaN,NaN,7.0,4.0,Take-Two Interactive,EC
7587,"Ni Hao, Kai-lan: New Year's Celebration",DS,2009.0,Misc,Take-Two Interactive,0.19,0.00,0.00,0.01,0.20,NaN,NaN,8.2,NaN,Take-Two Interactive,EC
9961,Dora the Explorer: Journey to the Purple Planet,GC,2005.0,Adventure,Global Star,0.09,0.02,0.00,0.00,0.12,NaN,NaN,NaN,NaN,Take-Two Interactive,EC
13066,Sesame Street: Cookie's Counting Carnival,PC,2010.0,Misc,Warner Bros. Interactive Entertainment,0.05,0.00,0.00,0.00,0.05,NaN,NaN,NaN,NaN,Black Lantern Studios,EC
13456,Sesame Street: Elmo's A-to-Zoo Adventure,PC,2010.0,Misc,Warner Bros. Interactive Entertainment,0.04,0.00,0.00,0.00,0.05,NaN,NaN,NaN,NaN,Black Lantern Studios,EC
13673,Clockwork Empires,PC,NaN,Strategy,Unknown,0.00,0.04,0.00,0.00,0.04,58.0,7.0,3.8,5.0,Gaslamp Games,RP
14272,Supreme Ruler: Cold War,PC,2011.0,Strategy,Paradox Interactive,0.00,0.03,0.00,0.01,0.03,63.0,12.0,6.8,27.0,BattleGoat Studios,RP
16182,WRC: FIA World Rally Championship,PC,NaN,Racing,Black Bean Games,0.00,0.01,0.00,0.00,0.01,65.0,7.0,NaN,NaN,Black Bean Games,RP
16685,Worms 2,PC,1997.0,Strategy,Microprose,0.00,0.01,0.00,0.00,0.01,NaN,NaN,8.1,12.0,Team 17,K-A

In [17]:
# using logical_not to invert it
mask = np.logical_not(df_games['rating'].isin(['AO','EC','K-A', 'RP']))
# filtering out those unwanted games
df_games= df_games[mask]
# sanity check
df_games['rating'].unique()

array(['E', nan, 'M', 'T', 'E10+'], dtype=object)

In [18]:
arr_mode=['name','genre','publisher','developer','rating']
for col in arr_mode:
    df_games[col] = df_games[col].fillna(df_games[col].mode()[0])

In [19]:
df_games['year_of_release'] = df_games['year_of_release'].fillna(df_games['year_of_release'].median())

In [20]:
arr_mean=['na_sales','eu_sales','jp_sales','other_sales','global_sales','user_score','user_count','critic_score','critic_count']
for col in arr_mean:
    df_games[col] = df_games[col].fillna(df_games[col].mean())

In [21]:
df_games.isna().sum()

name               0
platform           0
year_of_release    0
genre              0
publisher          0
na_sales           0
eu_sales           0
jp_sales           0
other_sales        0
global_sales       0
critic_score       0
critic_count       0
user_score         0
user_count         0
developer          0
rating             0
dtype: int64

In [22]:
arr_salesinmillions=['na_sales','eu_sales','jp_sales','other_sales','global_sales'] 

for sal in arr_salesinmillions:
    df_games[sal]=df_games[sal]

In [23]:
df_games

,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.000000,51.000000,8.000000,322.000000,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.000000,73.000000,8.300000,709.000000,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.000000,73.000000,8.000000,192.000000,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,68.964461,26.364855,7.099509,162.339575,Ubisoft,E

In [24]:
# Saving the clean dataframe
df_games.to_csv('Cleaned_Video_Games.csv',index=False)

In [25]:
video_games_df=df_games.copy()

In [26]:
video_games_df.groupby(video_games_df['rating']).count()

,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer
rating,,,,,,,,,,,,,,,
E,10760,10760,10760,10760,10760,10760,10760,10760,10760,10760,10760,10760,10760,10760,10760
E10+,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420,1420
M,1563,1563,1563,1563,1563,1563,1563,1563,1563,1563,1563,1563,1563,1563,1563
T,2961,2961,2961,2961,2961,2961,2961,2961,2961,2961,2961,2961,2961,2961,2961

In [27]:
video_games_df.head(10)

,name,platform,year_of_release,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,critic_score,critic_count,user_score,user_count,developer,rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.000000,51.000000,8.000000,322.000000,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.000000,73.000000,8.300000,709.000000,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.000000,73.000000,8.000000,192.000000,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,68.964461,26.364855,7.099509,162.339575,Ubisoft,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.000000,65.000000,8.500000,431.000000,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.000000,41.000000,6.600000,129.000000,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.000000,80.000000,8.400000,594.000000,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,68.964461,26.364855,7.099509,162.339575,Ubisoft,E